:root {
  --border-radius: 12px;
  --logo-color: #5d5d6d;
  --color-primary: #f0f0f5;
  --color-secundary: #f3f5f6;
  --color-text-dark: #737380;
  --color-text-dark-two: #41414d;
  --color-danger: #de3838;
  --color-orange-low: #ffa585;
  --color-shapes-dark: #09090a;
  --color-shapes: #dce2e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--color-primary);
}
